/*=============================================
=            Mixins: box                      =
=============================================*/

@mixin position($position: absolute) {
  position: $position;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @content;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin gutters($padding: 15px) {
  padding-right: $padding !important;
  padding-left: $padding !important;
  @content;
}

@mixin border($edge: bottom) {
  border-#{$edge}: 1px solid $color-border;
}

@mixin border-pseudo($padding: 45px, $edge: top, $pseudo: before) {
  &:#{$pseudo} {
    content: "";
    position: relative;
    display: block;
    margin: 0 auto;
    @include border($edge);
    @include size(calc(100% - #{$padding} * 2), 1px);
  }
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin col-reset() {
  width: 100%;
  max-width: 100%;
  flex: none;
}

/*=============================================
=            Custom media breakpoints            =
=============================================*/

@mixin media-breakpoint-landscape($media: "") {
  @if $media== "sm" {
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
      @content;
    }
  } @else if $media== "xs" {
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
      @content;
    }
  } @else {
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      @content;
    }
  }
}

@mixin media-breakpoint-portrait($media: "") {
  @if $media== "xs" {
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
      @content;
    }
  } @else {
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      @content;
    }
  }
}

@mixin media-breakpoint-browser($media: "", $selector: "&") {
  @if $media== "ie11" {
    _:-ms-fullscreen,
    :root #{$selector} {
      @content;
    }
  }
  @if $media== "ie10" {
    _:-ms-lang(x),
    #{$selector} {
      @content;
    }
  }
  @if $media== "ie9" {
    @media screen and (min-width: 0) and (min-resolution: 0.001dpcm) {
      @content;
    }
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    @content;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    @content;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    @content;
  }

  :-ms-input-placeholder {
    /* IE 10+ */
    @content;
  }
}
